.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
}
.header {
  width: 575px;
  height: 240px;
  margin: 80px;
  padding: 55px 0;
  background-color: #1b2029;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.title {
  font-size: 40px;
  line-height: 1;
}
.divider {
  border: 1px solid #272d3a;
  width: 575px;
  margin: 40px 0;
}
.boardContainer {
  width: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.subtitle {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}
.boards {
  margin: 24px 0 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
